@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText p-5">
        <h1 class="display-4 text-black text-capitalize">Welcome to Sharp Tasty Pizzas</h1>
        <h2>Sharp Tasty Pizzas, is where you want to enjoy a delicious pizza!</h2>
    </div>
    <img class="mainImage rounded bg-opacity-50" src="https://img.freepik.com/free-vector/blackboard-background-with-pizza_23-2148907816.jpg?w=826&t=st=1674482868~exp=1674483468~hmac=108c03ad5f120657e87e14dbf05b25603da35aa916c10513bd8f17b2b00fc0cb" />
    <br />
    <a class="btn btn-primary mt-4" asp-area="" asp-page="Pizza">Get Me That Pizza</a>

</div>
